:root {
  /* Colors */
  --clr-dark-charcoal: hsl(24, 5%, 18%);
  --clr-raspberry: hsl(332, 51%, 32%);
  --clr-brandy-red: hsl(14, 45%, 36%);
  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-white-coffee: hsl(30, 18%, 87%);
  --clr-snow: hsl(330, 100%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-heading: 'Young Serif', serif;
  --ff-body: 'Outfit', sans-serif;

  --fs-heading-s: 1.25rem;
  --fs-heading-m: 1.75rem;
  --fs-heading-l: 2.5rem;
  --fs-body: 1rem;

  --fw-reg: 400;
  --fw-med: 600;
  --fw-bold: 700;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.5;
  background-color: var(--clr-white-coffee);
  color: var(--clr-dark-charcoal);
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: normal;
}

span {
  font-weight: var(--fw-med);
}

.card {
  max-width: 46rem;
  margin: 8rem auto;
  padding: 2.5rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}

.card__image img {
  display: block;
  width: 100%;
  border-radius: 1.2rem;
  margin-bottom: 1.5rem;
}

.card__title h1 {
  margin-block: 1rem 1.5rem;
  font-family: var(--ff-heading);
}

.card__prep-info {
  margin-block: 2rem;
  padding: 2.8rem;
  background-color: var(--clr-snow);
  border-radius: 1.2rem;
}

.card__prep-info h3 {
  font-family: var(--fs-body);
  font-weight: var(--fw-bold);
  color: var(--clr-raspberry);
}

.card__prep-info ul {
  margin-top: 1rem;
  margin-left: 1rem;
  list-style-position: outside;
  padding-left: 0;
}

.card__prep-info ul li {
  padding-left: 1.25rem;
  margin-bottom: 0.8rem;
}

.card__prep-info ul li::marker {
  color: var(--clr-raspberry);
  font-size: 0.75rem;
}

.card__prep-info li span {
  color: var(--clr-wenge-brown);
}

.card__ingredients-info {
  border-bottom: 1px solid var(--clr-eggshell);
}

.card__ingredients-info h2 {
  color: var(--clr-brandy-red);
}

.card__ingredients-info ul {
  margin-block: 1.5rem 2rem;
  margin-left: 1rem;
  list-style-position: outside;
}

.card__ingredients-info ul li {
  text-indent: 1rem;
  margin-bottom: 0.8rem;
}

.card__ingredients-info ul li::marker {
  color: var(--clr-brandy-red);
  font-size: 0.75rem;
}

.card__instructions {
  padding-block: 2rem 1.5rem;
  border-bottom: 1px solid var(--clr-eggshell);
}

.card__instructions h2 {
  color: var(--clr-brandy-red);
  margin-bottom: 1rem;
}

.card__instructions ol {
  max-width: 41rem;
  list-style-position: outside;
  margin-inline: 1.5rem;
  padding-left: 0;
}

.card__instructions ol li {
  padding-left: 0.75rem;
  margin-bottom: 0.8rem;
}

.card__instructions ol li::marker {
  color: var(--clr-brandy-red);
  font-weight: var(--fw-med);
}

.card__nutrition {
  margin-top: 2rem;
}

.card__nutrition h2 {
  color: var(--clr-brandy-red);
}

.card__nutrition p {
  margin-block: 1.5rem;
}

.card__nutrition .table {
  max-width: 41rem;
  margin-bottom: 2.5rem;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

.card__nutrition .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid var(--clr-eggshell);
}

.card__nutrition .table-head {
  padding-left: 2rem;
  color: var(--clr-wenge-brown);
}

.card__nutrition .table-data {
  color: var(--clr-brandy-red);
  font-weight: var(--fw-med);
}

.attribution {
  margin-bottom: 0.5rem;
}

. .attribution a {
  color: var(--clr-raspberry);
}

@media screen and (max-width: 23.4375rem) {
  body {
    padding: 1.25rem;
  }
  .card {
    margin: 4rem auto;
    padding: 1.25rem;
  }
  .card__image img {
    border-radius: 0.8rem;
  }
  .card__title h1 {
    margin-block: 1rem;
  }
  .card__prep-info {
    margin-block: 1.5rem;
    padding: 1.25rem;
  }
  .card__prep-info h3 {
    font-size: 1rem;
  }
  .card__prep-info ul {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .card__prep-info ul li {
    padding-left: 0.75rem;
    margin-bottom: 0.4rem;
  }
  .card__prep-info ul li::marker {
    font-size: 0.625rem;
  }
  .card__prep-info li span {
    color: var(--clr-wenge-brown);
  }
  .card__ingredients-info h2 {
    font-size: 1.5rem;
  }
  .card__ingredients-info ul {
    margin-block: 1rem 1.5rem;
    margin-left: 0.5rem;
  }
  .card__ingredients-info ul li {
    text-indent: 0.75rem;
    margin-bottom: 0.4rem;
  }
  .card__ingredients-info ul li::marker {
    font-size: 0.625rem;
  }
  .card__instructions {
    padding-block: 1.5rem 1rem;
  }
  .card__instructions h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .card__instructions ol {
    margin-inline: 1rem;
  }
  .card__instructions ol li {
    padding-left: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .card__instructions ol li::marker {
    font-weight: var(--fw-med);
  }
  .card__nutrition {
    margin-top: 1.5rem;
  }
  .card__nutrition h2 {
    font-size: 1.5rem;
  }
  .card__nutrition p {
    margin-block: 1rem;
  }
  .card__nutrition .table {
    margin-bottom: 1.25rem;
  }
  .card__nutrition .table-row {
    gap: 1rem;
  }
  .card__nutrition .table-head {
    padding-left: 1rem;
  }
}
