:root {
  /* Colors */
  --clr-dark-charcoal: hsl(24, 5%, 18%);
  --clr-raspberry: hsl(332, 51%, 32%);
  --clr-brandy-red: hsl(14, 45%, 36%);
  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-white-coffee: hsl(30, 18%, 87%);
  --clr-snow: hsl(330, 100%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-heading: 'Young Serif', serif;
  --ff-body: 'Outfit', sans-serif;

  --fs-heading-s: 20px;
  --fs-heading-m: 28px;
  --fs-heading-l: 40px;
  --fs-body: 1rem;

  --fw-reg: 400;
  --fw-med: 600;
  --fw-bold: 700;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.5;
  background-color: var(--clr-snow);
  color: var(--clr-dark-charcoal);
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  line-height: 1;
}

.card {
  max-width: 736px;
  padding: 40px;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.card__image img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.card__title h1 {
  margin-block: 40px 24px;
}

.card__prep-info {
  background-color: var(--clr-snow);
  border-radius: 12px;
  margin: 16px 0;
  padding: 28px;
}

.card__prep-info h3 {
  margin-bottom: 1rem;
  font-family: var(--ff-body);
  font-size: 20px;
  color: var(--clr-raspberry);
}

.card__prep-info ul {
  list-style: none; /* Remove default bullets */
  margin-left: 8px;
}

.card__prep-info li::before {
  content: '•'; /* Add your own bullet */
  color: var(--clr-raspberry);
  font-weight: 800;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (adjust as needed) */
  margin-right: 16px; /* Also needed for space (adjust as needed) */
}

.card__prep-info li span {
  font-weight: var(--fw-bold);
  color: var(--clr-wenge-brown);
  /* margin-left: 16px; */
}

.card__ingredients-info {
  margin: 1rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-eggshell);
}

.card__ingredients-info h2 {
  color: var(--clr-brandy-red);
  margin-bottom: 24px;
}

.card__ingredients-info ul {
  list-style: none;
  margin-left: 8px;
}

.card__ingredients-info li::before {
  content: '•';
  color: var(--clr-brandy-red);
  font-weight: 800;
  display: inline-block;
  width: 1em;
  margin-right: 8px;
}

.card__instructions {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-eggshell);
}

.card__instructions h2 {
  color: var(--clr-brandy-red);
  margin-bottom: 1.5rem;
}

.card__instructions ol {
  list-style-position: outside;
  margin-left: 18px;
  padding: 8px;
}

.card__instructions li {
  margin-bottom: 8px;
  padding-left: 1rem;
}

.card__instructions li::marker {
  margin-right: 20px;

  color: var(--clr-brandy-red);
  font-weight: 600;
}

.card__instructions li span {
  font-weight: var(--fw-bold);

  color: var(--clr-wenge-brown);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
